.feature-component {
    display: flex;
    margin: 0;
    margin-top: 3.5rem;
    width: 90%;
}

.feature-text-container {
    /* padding: 3.5rem; */
    padding-left: 7rem;
    text-align: left;
}

.feature-text-container h3 {
    font-size: 32px;
    color: hsl(229, 31%, 21%)
}

.feature-text-container p {
    color: hsl(229, 8%, 60%);
    line-height: 1.5rem;
    font-size: 18px;
}

.feature-text-container input {
    padding: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    color: #FFF;
    background-color: hsl(231, 69%, 60%);
    border: 2px solid hsla(231, 69%, 60%, 0);
    transition: 1s;
}

.btn-slider {
    background-color: transparent;
    height: 1.5rem;
    width: 10rem;
    font-size: 18px;
    border: none;
    outline: none;
    color: hsl(229, 14%, 30%);
    transition: 1s;
    font-weight: 400;
    cursor: pointer;
}

.btn-slider:hover, .btn-slider:active {
    color: hsl(229, 34%, 12%);
    font-weight: 500;
}